*{
    font-family: 'Segoe UI', sans-serif;
}
.profile-cover, .profile-img, .profile-img2, .media-img, .tw-media{
    display: flex;
    background: #1d9bf0;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}
.profile-cover{
    width: 100%;
    max-width: 1919px;
    height: 500px;
}
 .profile-img{
    height: 200px;
    width: 200px;
    border: solid 5px #FFFFFF;
    border-radius: 10px;
    margin-top: -45%; 
/*    top: -100px; */
} 
.profile-img2{
    height:35px;
    width: 35px;
    border-radius: 2px;
    font-size: 9px;
}
.media-img{
    height: 83px;
    width: 83px;
    border-radius: 2px;
    margin: 0 5px 5px 0;
}
.ds-input{
    height: 30px;
    width: 60%;
    border-radius: 20px;
}
.profile-bar{
    height: 55px;
    padding: 12px 15px 0 15px;
}
.header{
    height: 40px;
    font-size: 15px;
    padding-top: 2px;
}
.profile-bar, .header, .profile-page{
    margin: 0;
    width: 100%;
    max-width: none;
}
.profile-page{
    background: #E5E8E8;
    padding: 20px;
}
.buttons, .more-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons, .links, .tw-footer{
    color:#5D6D7E;
}
.twitter-icon{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tweet-button{
    display: flex;
    color: #FFFFFF;
    background: #E5E8E8;
    border-radius: 2px;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}
.profile-menu{
    font-size: 12px;
}
.pfm-bt{
    padding: 0 6px 12px 6px;
}
.pfm-bt:hover{
    border-bottom: solid 2px #5D6D7E;
    cursor: pointer;
}
.settings-button{
    display: flex;
    justify-content: end;
    align-items: start;
    width: 100%;
}
.trends{
    background: #FFFFFF;
    border: solid 1px #5D6D7E;
    height: 50%;
    width: 100%;
    margin-bottom: 10px;
}
.media{
    display: flex;
    flex-wrap: wrap;
}
i{
    margin-right: 5px;
}
.tweets-bar{
    height: 35px;
    border-bottom: solid 1px #5D6D7E;
}
.tweets{
    background: #FFFFFF;
    border: solid 1px #5D6D7E;    
}
.tw-media{
    width: 100%;
    max-width: 526px;
    height: 260px;
    margin: 10px 10px 10px 20px;
}